{{extend 'layout.html'}}

<h3>Update Meta-Datasets</h3>
<div name="form-holder" style="margin:auto; width:60%; border:2px solid">
    <h4 style="text-align:center">Add New?</h4>
    {{=form}}
</div>

<br/><br/>

{{if metasets:}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Size</th>
            <th>Location</th>
            <th>Datasets</th>
        </tr>
    </thead>
    <tbody>
        {{for metaset in metasets:}}
        <tr>
            <td>{{=metaset['id']}}</td>
            <td>{{=metaset['set_name']}}</td>
            <td>{{=metaset['set_size']}}</td>
            <td>{{=metaset['set_path']}}</td>
            <td>{{=metaset['datasets']}}</td>
        </tr>
        {{pass}}
    </tbody>
</table>
{{else:}}
    <span style="padding-left:5%"><h4>No metasets currently added.</h4></span>
{{pass}}

