{{extend 'layout.html'}}

<h3>Update Meta-Datasets</h3>
<div name="form-holder" style="margin:auto; width:60%; border:2px solid">
    <h4 style="text-align:center">Add New?</h4>
    {{=form}}
</div>

<br/><br/>

{{if metasets:}}
<div style="width:100%">
<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Size</th>
            <th>Location</th>
            <th>Download Annotations?</th>
            <th>Datasets</th>
            <th style="color:red">Delete?</th>
        </tr>
    </thead>
    <tbody>
        {{for metaset in metasets:}}
        <tr>
            <td>{{=metaset['id']}}</td>
            <td>{{=metaset['set_name']}}</td>
            <td>{{=metaset['set_size']}}</td>
            <td>{{=metaset['set_path']}}</td>
            <td><a href="{{=URL('default','download_metaset', vars={'meta_id':metaset['id']})}}" class="btn btn-info">
                    <span class="glyphicon glyphicon-save"></span> Download
                </a>
            </td>
            <td>{{=metaset['datasets']}}</td>
            <td><a href="{{=URL('default','del_metaset', vars={'m_id':metaset['id']})}}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-floppy-remove"></span> Delete
                </a>
            </td>
        </tr>
        {{pass}}
    </tbody>
</table>
</div>
{{else:}}
    <span style="padding-left:5%"><h4>No metasets currently added.</h4></span>
{{pass}}

